<%= form_for :wallet, url: wallets_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :detail %>
    <%= f.text_field :detail %>
  </div>
  <div>
    <%= f.submit class: "button"%>
  </div>
<% end %>
