<% content_for :title do -%><%= @wallet.name %><% end -%>
<% content_for :back_url do -%><%= wallet_path @wallet.id %><% end -%>

<div class="note"> 
<% if @wallet.read? session %>
  <%= link_to "read access", auth_url(@wallet.id, @wallet.secret_read) %> | 
<% end %>
<% if @wallet.write? session %>
  <%= link_to "write access", auth_url(@wallet.id, @wallet.secret_rw) %> |
<% end %>
<%= @wallet.detail %>
</div>

<br/>

<div class="sum">¥ <%= -@wallet.items.sum('delta') %></div>

<% if @wallet.write? session %>
  <%= render "items/simple_form" %>
<% end %>

<ul id="item_list">
  <%= render @wallet.items.order("time desc").limit 5 %>
</ul>

<% if @wallet.items.count > 5 %>
  <div class="pagination">
    <%= link_to "← Previous", wallet_items_url(@wallet.id), class: "previous_page" %>
  </div>
<% end %>
