<div class="note"> 
<% if @wallet.read? session %>
  <%= link_to "read access", auth_url(@wallet.id, @wallet.secret_read) %> | 
<% end %>
<% if @wallet.write? session %>
  <%= link_to "write access", auth_url(@wallet.id, @wallet.secret_rw) %> |
<% end %>
<%= @wallet.detail %>
</div>

<br/>

<div class="sum">¥ <%= @wallet.items.sum('delta') %></div>

<% if @wallet.write? session %>
  <%= render "items/simple_form" %>
<% end %>

<ul id="mesglist">
  <%= render @wallet.items %>
</ul>
