<% content_for :title do -%><%= @wallet.name %><% end -%>
<% content_for :back_url do -%><%= wallet_path @wallet.id %><% end -%>

<div class="note"> 
<% if @wallet.read? session %>
  <%= link_to "read access", auth_wallet_url(@wallet.id, @wallet.secret_read) %> | 
<% end %>
<% if @wallet.write? session %>
  <%= link_to "write access", auth_wallet_url(@wallet.id, @wallet.secret_rw) %> |
<% end %>
<%= @wallet.detail %>
</div>

<br>

<div class="sum">
<% sum = @wallet.items.sum 'delta' %>
<% if sum == 0 %>
  ¥ <%= sum %>
<% elsif sum > 0 %>
  <span class="red"> ¥ <%= sum %> </span>
<% else %>
  ¥ <%= -sum %>
<% end %>
</div>

<% if @wallet.write? session %>
  <%= render "items/simple_form" %>
<% end %>

<ul class="tag_list">
  <% @tags.each do |tag| %>
    <li class="tag_info">
      <%= link_to '#' + tag[1], wallet_items_path(@wallet, :tag => tag[1]) %>
      <span>¥<%= tag[0] %></span>
    </li>
  <% end %>
</ul>

<ul class="item_list">
  <%= render @wallet.items.order("time desc").limit 5 %>
</ul>

<form accept-charset="UTF-8" action="<%= wallet_items_path @wallet %>", method="get", class="search">
  <input class="midlen" id="name" name="name" type="text">
  <input class="inline_button" type="submit" value="?">
</form>

<% if @wallet.items.count > 5 %>
  <div class="pagination">
    <%= link_to "← Previous", wallet_items_url(@wallet.id), class: "previous_page" %>
  </div>
<% end %>
