<% if item.created_at %>
  <li class="item_info">
  <% if @wallet.write? session %>
    <div class="x">
      <%= link_to '✎', edit_wallet_item_path(item.wallet, item) %>
      <%= link_to 'x', [item.wallet, item],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <h2><%= item.name %> △ 
  <% if item.delta == 0 %>  
    <span>¥<%= item.delta %></span>
  <% elsif item.delta > 0 %>
    <span class="red">¥<%= item.delta %></span>
  <% else %>
    <span class="green">¥<%= -item.delta %></span>
  <% end %>
  </h2>
  <p> <%= item.detail %> </p>
  <div class="note" title="created at <%= item.created_at.localtime %> and updated at <%= item.updated_at.localtime %>">
    <% item.tags.each do |i| %>
      <%= link_to '#' + i.name, wallet_items_tag_path(item.wallet, i.name) %>
    <% end %>
    <span>@ <%= item.time.localtime.strftime "%Y-%m-%d %H:%M" %></span>
  </div>
  </li>
<% end %>
