<% if item.created_at %>
  <li class="list_info">
  <% if @wallet.write? session %>
    <div class="x">
      <%= link_to 'x', [item.wallet, item],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <h2><%= item.name %> △ 
  <% if item.delta == 0 %>  
    <span>¥<%= item.delta %></span>
  <% elsif item.delta > 0 %>
    <span class="green">¥<%= item.delta %></span>
  <% else %>
    <span class="red">¥<%= -item.delta %></span>
  <% end %>
  </h2>
  <p> <%= item.detail %> </p>
  <div class="note" title="was created at <%= item.created_at %> and updated at <%= item.updated_at %>"> @ <%= item.time %> </div>
  </li>
<% end %>
