<% content_for :title do -%>Edit Item | <%= @wallet.name %><% end -%>
<% content_for :back_url do -%><%= wallet_path @wallet.id %><% end -%>

<%= form_for @item, url: wallet_item_path  do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :delta %>
    <%= f.text_field :delta %>
  </div>
  <div>
    <%= f.label :detail %>
    <%= f.text_field :detail %>
  </div>
  <div>
    <%= f.label :time %>
    <%= f.text_field :time, :value => @item.time.localtime.strftime("%Y-%m-%d %H:%M:%S %z") %>
  </div>
  <div>
    <%= f.submit class: "button" %>
  </div>
<% end %>

<div class="tags">
  <% @item.tags.each do |item| %>
    <span class="tag">
      <span>#<%= item.name %></span>
      <%= link_to 'x', tag_wallet_item_path(@wallet, @item, :tag => item.name),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </span>
  <% end %>
</div>

<form accept-charset="UTF-8" action="<%= tag_wallet_item_path(@wallet, @item) %>", method="get">
  <input class="midlen" id="tag" name="tag" type="text">
  <input class="inline_button" type="submit" value="tag">
</form>
