<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= @title or "Wallic" %> | Wallic</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="logo"><%= @title or "Wallic" %></h1>

<% if flash[:alert] %><div class="message"><%= flash[:alert] %></div><br><% end %>
<% if flash[:notice] %><div class="message"><%= flash[:notice] %></div><br><% end %>

<%= yield %>

<div id="footer">© 2014 dotkrnl</div>

</body>
</html>
